= form_with(model: @shift, local: true, html: { class: 'form offset-2' } ) do |f|
  .row.mb-3
    = f.label :name, class: 'form-label'
    .col-sm-6
      = f.text_field :name, class: 'form-control'
  .row.mb-3
    = f.label :start_time, class: 'form-label'
    .col-sm-6
      = f.datetime_field :start_time, class: 'form-control'
  .row.mb-3
    = f.label :end_time, class: 'form-label'
    .col-sm-6
      = f.datetime_field :end_time, class: 'form-control'
  .row.mb-3
    .col-sm-6
  .row.mb-3
    = f.label :description, class: 'form-label'
    .col-sm-6
      = f.text_area :description, class: 'form-control'
  %h2 Signups (shift slots)
  #signups
    = f.fields_for :signups, @shift.signups do |g|
      = render 'signup_fields', f: g
    = link_to_add_association 'add signup field', f, :signups
  .mb-3
    = f.submit 'Save shift', class: 'btn btn-primary'
    = link_to 'Cancel', shifts_url, class: 'btn btn-secondary'
