.container.mt-5.text-center
  %h1 Shifts
  %p= link_to 'Add new shift', new_shift_path, class: 'btn btn-dark btn-sm'
  = month_calendar(events: @shifts) do |date, daily_events|
    .day
      = date.day
    - daily_events.each do |event|
      .card
        .card-body
          %h5.card-title= event.name
          %h6.card-subtitle.mb-2.text-muted= event.times
          %p.card-text= event.description
          %p.card-text= event.users.map(&:first_name).join(', ')
          .btn-group
            = button_to 'Destroy', event, method: :delete, class: 'btn btn-danger btn-sm', data: { turbo_confirm: 'Are you sure you want to delete this shift?' }
            = link_to 'Edit', edit_shift_path(event), class: 'card-link btn btn-secondary btn-sm'
